@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to top, #32A685, #3DF2BF);
    background-attachment: fixed;
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #175e4a99;
}
h1 {
    color: #F29530;
    text-align: center;
    text-shadow: 1px 1px 2px #724515c0;
}
h2 {

}
p {
    text-align: justify;
}